div#primary > main#main {
  & > nav .woocommerce-breadcrumb {
    @apply mb-12 text-xl;
  }
  & > .product {
    & > .woocommerce-product-gallery {
      & > ol.flex-control-nav {
        position: absolute;
        top: 0;
        width: 10%;
        height: 100%;

        & > li {
          width: 100%;
        }
      }
      & > .flex-viewport {
        padding-left: 10%;
      }
    }
    & > .summary {
      & > .product_title {
        @apply title text-primary;
      }
      & > .price {
        @apply text-primary text-3xl mt-12;
      }
      & > .woocommerce-product-details__short-description {
        @apply text-lg mt-6;
        margin-bottom: 5rem;
      }
    }
    & > .woocommerce-tabs > .woocommerce-Tabs-panel {
      & > h2 {
        @apply text-4xl title-bland mb-6 text-primary;
      }
      & > p {
        @apply text-gray-600 text-3xl;
      }
    }
    & > section.related.products > h2 {
      @apply text-4xl title-bland mb-6 mt-12 text-primary;
    }
  }
}
.woocommerce span.onsale {
  @apply bg-primary text-white;
}
.woocommerce .woocommerce-breadcrumb {
  @apply mb-12 text-xl;
}

.botoes {
  width: 33rem;
  text-align: left;
  padding: 2rem 4rem 2rem 6.5rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 1rem;
  background-position: 1.6rem center;
  background-size: 3.5rem;
  transition: all 0.3s;
  font-size: 1.6rem;
  font-weight: 600;
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 3rem;
}

.amazon {
  background-image: url("../images/amazon.png");
  background-color: white;
  border: solid 2px black;
  color: black;
  &:hover {
    background-color: white;
    border: solid 2px #d08200;
    color: #d08200;
  }
}

.americanas {
  background-image: url("../images/americanas.png");
  background-color: #e50007;
  color: white;
  border: solid 2px #e50007;
  &:hover {
    background-image: url("../images/americanas-hover.png");
    background-color: white;
    color: #e50007;
    border: solid 2px #e50007;
  }
}

.submarino {
  background-image: url("../images/submarino.png");
  background-color: white;
  border: solid 2px #0433ff;
  color: #0433ff;
  &:hover {
    background-color: white;
    border: solid 2px #001677;
    color: #001677;
  }
}

.mercado-livre {
  background-image: url("../images/mercado-livre.png");
  background-color: #f7d032;
  color: white;
  border: solid 2px #f7d032;
  &:hover {
    color: #f7d032;
    background-color: white;
  }
}
