.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  width: 100%;
  margin-bottom: 6%;
  border-radius: 0.3rem;
  min-height: 32rem;
  max-height: 50vh;
  transition: all 0.3s;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
  box-shadow: -1px 7px 9px 4px rgba(0, 0, 0, 0.644);
  &:hover {
    box-shadow: -1px 28px 45px 16px rgba(0, 0, 0, 0.62);
    transform: scale(1.1);
    z-index: 999;
  }

  &__img-wraper {
    overflow: hidden;
    border-radius: 0.3rem 0.3rem 0 0;
    display: flex;
    min-height: 12rem;
    background-color: #fff;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-height: 15rem;
  }
  &__top-wraper {
    width: 100%;
  }
  &__img-top {
    width: 100%;
    height: auto;
  }
  &__hyperlink-btn {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .product-card__img-wraper {
    min-height: 10rem;
    max-height: 10rem;
  }
  .product-card {
    min-height: 29rem;
    width: 90%;
    margin: auto;
  }
  .product-card.index {
    min-height: 40rem;
  }
  .product-card.index > .product-card__top-wraper {
    height: 15rem;
  }
  .product-card.index > .product-card__top-wraper > .product-card__img-wraper {
    min-height: 15rem;
    max-height: 15rem;
  }
}
